<div class="certification-card animate-on-scroll">
  <div class="cert-badge" @@if (image) {style="background-image: url('@@image');"}>
    <!-- <div class="cert-icon">@@icon</div>
    <div class="cert-year">@@year</div> -->
  </div>
  <div class="cert-content">
    <h3 class="cert-title">@@title</h3>
    <p class="cert-issuer">@@issuer</p>
    <p class="cert-description">@@description</p>
    <div class="cert-skills">
      @@skills
    </div>
    @@if (link) {
      <div class="cert-verify">
        <a href="@@link" class="verify-link">Verify Certificate</a>
      </div>
    }
  </div>
</div>
