@use '../utilities/variables' as *;
@use './mixins/rem' as *;
@use './mixins/breakpoints' as *;
@use './vendors/include-media' as *;

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // background-color: white;
    // background: rgba(255, 255, 255, 0.95);
   // backdrop-filter: blur(10px);
   // border-bottom: 1px solid $border-color;
    z-index: 1000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
}

.header.scrolled {
    background-color: white;

    .nav-link {
        color: black;
    }

    .logo {
        svg {
            fill: black;
        }
    }
   // background: rgba(255, 255, 255, 0.98);
    box-shadow: $shadow-lg;
    padding: 0.5rem 0;
}

.header.hidden {
    transform: translateY(-100%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .logo {
//     font-size: 1.5rem;
//     font-weight: 700;
//     background: $text-primary;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-clip: text;
// }

.logo {
    svg {
        width: rem(30px);
        height: rem(30px);
        fill: white;
    }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: rem(35px);
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  padding: rem(20px);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: var(--shadow-lg);

  &.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  @include media('>tablet') {
    position: static;
    flex-direction: row;
    padding: 0;
    background: none;
    box-shadow: none;
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}



.nav-link {
    text-decoration: none;
    color: black;
    font-weight: $font-weight-medium;
    position: relative;
    transition: color 0.3s ease;

    @include media ('>tablet') {
        color: white;
    }
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: rem(2px);
    bottom: rem(-5px);
    left: 0;
    background: $gradient-primary;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.mobile-menu-btn {
    display: block;
    background: none;
    border: none;
    font-size: rem(30px);
    cursor: pointer;

    @include media ('>tablet') {
        display: none;
    }
}


@include media ('>tablet') {
    .nav-menu.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}